<html>
	<%= content_for :head do %>
	<%= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js' %>
		<script>
		function sendData(base64){
			$.ajax({
				type: "POST",
				url: '/save_meme',
				data: { memeURL: base64, photo_id: "<%=@photo.id%>" },
				dataType: "json",
				complete: function(response) {
					if (response.responseText == "error"){
						alert("Something went wrong! Let's try again.");
					}
					else {
						window.location.replace("/fmemes/" + response.responseText);
					};
				}
			});
			$('#savebutton').hide();
			$('#loading').show();
		};

		function saveMeme() {
		    html2canvas($("#testdiv"), {
		    	logging: true,
		    	useCORS: true,
		        onrendered: function(canvas) {
		            var myImage = canvas.toDataURL("image/png");
		            base64 = myImage.replace(/^data:image\/(png|jpg);base64,/, "") ;
		            sendData(base64);
		        }
		    });
		};
		</script>
	<% end %>
<body>
	<div class="container-fluid" id="fl" align="center">
		<div id="testdiv">
			<img src="<%=@photo.src%>" class="img-responsive memeimg">
			<div class="memecontainer" align="center">
				<div class="relativememe">
					<%= text_area_tag "toptext", nil, :class => "memetext", rows: "2", maxlength: "100" %>
					<br>
					<%= text_area_tag "bottomtext", nil, :class => "memetext", rows: "2", maxlength: "100" %>
				</div>
			</div>
		</div>
		<img src="/assets/loading.gif" id="loading" style="width: 200px;display:none;">
		<div id="savebutton" class="btn btn-primary btn-lg"> Save Meme! </div>
	</div>
	<div class="container" align="center">
		<div class="relativebutton" align="center">
		</div>
	</div>
	<div id="hidden-resizer-top" class="memetext" style="visibility: hidden"></div>
	<div id="hidden-resizer-bottom" class="memetext" style="visibility: hidden"></div>

	<script type="text/javascript">
		$("#savebutton").click(function(){
			saveMeme();
		});
		$('#toptext').keypress(function() {
			changeFontTop($('#toptext'));			
		});
		$('#bottomtext').keypress(function() {
			changeFontBottom($('#bottomtext'));
		});

		 function changeFontTop(field) {
	        var resizer = $('#hidden-resizer-top');
	        var desiredHeight = $('.memeimg').height()*0.2;

	        var textHeight = resizer.html(field.val()).height();
	        console.log(textHeight);
	        console.log(desiredHeight);
	        if (desiredHeight < textHeight) {
	        	var size_now = parseInt(field.css("font-size"));
	        	var size_new = size_now * desiredHeight/textHeight;
	            field.css("font-size",size_new);
	            field.css("line-height",'110%');
	            resizer.css("font-size",size_new);
	            resizer.css("line-height",'110%');
	            console.log(resizer.height());
	            textHeight = resizer.height();
	        }
	    };
	    function changeFontBottom(field) {
	        var resizer = $('#hidden-resizer-bottom');
	        var desiredHeight = $('.memeimg').height()*0.2;

	        var textHeight = resizer.html(field.val()).height();
	        console.log(textHeight);
	        console.log(desiredHeight);
	        if (desiredHeight < textHeight) {
	        	var size_now = parseInt(field.css("font-size"));
	        	var size_new = size_now * desiredHeight/textHeight;
	            field.css("font-size",size_new);
	            field.css("line-height",'110%');
	            resizer.css("font-size",size_new);
	            resizer.css("line-height",'110%');
	            console.log(resizer.height());
	            textHeight = resizer.height();
	        }
	    };
	</script>
	<script type="text/javascript">
		$(window).load(function(){
			var width = $('.img-responsive').width();
			var height = $('.img-responsive').height();
			var memeCont = $('.memecontainer');
			var relativememe = $('.relativememe');
			$('#hidden-resizer-top').css('width',width);
			$('#hidden-resizer-bottom').css('width',width);
			memeCont.css('height',height);
			memeCont.css('width',width);
			relativememe.css('height',height);

		});
	</script>
	 <script type="text/javascript">
		$(window).resize(function() {
			var width = $('.img-responsive').width();
			var height = $('.img-responsive').height();
			var memeCont = $('.memecontainer');
			var relativememe = $('.relativememe');
			$('#hidden-resizer-top').css('width',width);
			$('#hidden-resizer-bottom').css('width',width);
			memeCont.css('width',width);
			memeCont.css('height',height);
			relativememe.css('height',height);
		});
	</script>

	<!-- Popover -->
	<script>
		$(window).load(function(){
			$('#toptext').popover({
			   trigger: 'manual',
               content: 'Click the image to type',
               placement: 'left',
               container: $("#testdiv")

			});
			$('#bottomtext').popover({
			   trigger: 'manual',
               content: 'Click the image to type',
               placement: 'left',
               container: $("#testdiv")
			});
			$('#toptext').popover('show');
			$('#bottomtext').popover('show');
		});
	</script>

  

</body>
</html>