<%= content_for :head do %>
	<meta property="og:url" content="http://mememyfriends.com"/>
	<meta property="og:title" content="Meme My Friends"/>
	<meta property="og:image" content="<%=@fmeme.url%>"/>
	<meta property="og:description" content="I made this hilarious meme!"/>
<% end %>


<div class="container" align="center">
	<a href="https://www.facebook.com/dialog/feed?app_id=407181032744681&caption=I%20made%20this%20hilarious%20meme! 
  &link=http%3A%2F%2Fmememyfriends.com%2Ffmemes%2f<%=@fmeme.id%>&display=popup&redirect_uri=http://mememyfriends.com/fmemes/<%=@fmeme.id%>">Share</a>
	<img src="<%=@fmeme.url%>" class="img-responsive memeimg">
</div>