<% if current_user %>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to image_tag("logo.png", :id => "logo", :class => "navbar-brand"), root_path %>
  </div>
  <div class="collapse navbar-collapse" id="menu">
  	<ul class="nav navbar-nav" id="links">
      <li><%= link_to "New Meme", root_path %></li>
      <li><%= link_to "My Collection", fmemes_path %></li>
      <li><%= link_to "Memes of Me", memes_of_me_path %></li>
    </ul>
    <%= form_tag friend_search_path, :class => "navbar-form navbar-left", :role => "search", :id => "search" do |f| %>
      <div class="form-group">
        <%= text_field_tag "query", nil, :placeholder => "Find your friends", :class => "form-control" %>
      </div>
      <%= submit_tag "Go!", :class => "btn btn-default" %>
    <% end %>
  </div>
</nav>

	
<% end %>

<script type="text/javascript">
$("#query").autocomplete({
  minLength: 2,
  source: '/get_friends',
  focus: function(event, ui) {
    $('#query').val(ui.item.name);
    return false;
  },
  select: function(event, ui) {
    $('#query').val(ui.item.name);
    return false;
  }
})
.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "ui-item.autocomplete", item )
 // For now which just want to show the person.given_name in the list.
                .append( "<a>" + item.name + "</a>" )
                .appendTo( ul );
        };
</script>
