<% if current_user %>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to image_tag("logo.png", :id => "logo", :class => "navbar-brand"), root_path %>
  </div>
  <div class="collapse navbar-collapse" id="menu">
  	<ul class="nav navbar-nav" id="links">
      <li><%= link_to "New Meme", root_path %></li>
      <li><%= link_to "My Collection", fmemes_path %></li>
      <li><%= link_to "Memes of Me", fmemes_path %></li>
    </ul>
    <%= form_tag friend_search_path, :class => "navbar-form navbar-left", :role => "search", :id => "search" do |f| %>
      <div class="form-group">
        <%= text_field_tag "query", nil, :placeholder => "Find your friends", :class => "form-control" %>
      </div>
      <%= submit_tag "Go!", :class => "btn btn-default" %>
    <% end %>
  </div>
</nav>

	
<% end %>
